## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=KST
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
EXC_CHALLENGE_API_PORT=10001
# EXC_CHALLENGE_API_CONFIGS_DIR="/etc/rest-exc-challenge"
# EXC_CHALLENGE_API_LOGS_DIR="/var/log/rest-exc-challenge"
# EXC_CHALLENGE_API_DATA_DIR="/var/lib/rest-exc-challenge"
# EXC_CHALLENGE_API_TMP_DIR="/tmp/rest-exc-challenge"
# EXC_CHALLENGE_API_VERSION="1"
# EXC_CHALLENGE_API_PREFIX=""
# EXC_CHALLENGE_API_DOCS_ENABLED=true
# EXC_CHALLENGE_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# EXC_CHALLENGE_API_DOCS_DOCS_URL="{api_prefix}/docs"
# EXC_CHALLENGE_API_DOCS_REDOC_URL="{api_prefix}/redoc"
